# Ignore all raw data
data/*.csv
data/raw/*
data/processed/*

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints/

# Ignore large files
*.zip
*.7z
*.rar

# Ignore system files
.DS_Store
Thumbs.db
archive/
data/
models/
*.log
*.tmp
*.cache
__pycache__/
.ipynb_checkpoints/
.env

